<div class="card">
  <!-- Card header -->
  <div class="card-header">
    <h3 class="mb-0">Security</h3>
    <p class="mb-0">
      Edit your account settings and change your password here.
    </p>
  </div>
  <!-- Card body -->
  <div class="card-body">
    <div>
      <h4 class="mb-0">Change Password</h4>
      <p>
        We will email you a confirmation when changing your
        password, so please expect that email after submitting.
      </p>
      <%= form_with model: current_user, url: mypage_password_change_path, method: :patch do |f| %>
        <div class="col-lg-6 col-md-12 col-12">
          <div class="mb-3">
            <%= f.label :password, class: 'form-label' %>
            <%= f.password_field :password, class: 'form-control mb-2' %>
          </div>
          <div class="mb-3">
            <!-- Confirm new password -->
            <%= f.label :password_confirmation, class: 'form-label' %>
            <%= f.password_field :password_confirmation, class: 'form-control mb-2' %>
          </div>
          <!-- Button -->
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
