<div class="card">
  <!-- Card header -->
  <div class="card-header">
    <h3 class="mb-0">プロフィール</h3>
  </div>
  <!-- Card body -->
  <div class="card-body">
    <%= form_with model: @user, url: mypage_profile_path do |f|  %>
      <div class="d-lg-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center mb-4 mb-lg-0">
          <%= image_tag @user.decorate.avatar, class: 'avatar-xl rounded-circle' %>
          <div class="ms-3">
            <h4 class="mb-3">Your avatar</h4>
            <%= f.file_field :avatar %>
          </div>
        </div>
        <div>
          <%= f.submit "更新", class: "btn btn-outline-white btn-sm" %>
          <% if @user.avatar.attached? %>
            <%= link_to "削除", mypage_profile_avatar_path, class: "btn btn-outline-danger btn-sm", method: :delete, data: { confirm: "削除します" } %>
          <% end %>
        </div>
      </div>
    <% end %>
    <hr class="my-5">
    <div>
      <h4 class="mb-0">Personal Details</h4>
      <p class="mb-4">
        Edit your personal information and address.
      </p>
      <!-- Form -->
      <%= form_with(model: @user, url: mypage_profile_path) do |f| %>
        <div class="mb-3">
          <%= f.label :email, class: 'form-label' %>
          <%= f.email_field :email, class: 'form-control', required: true, placeholder: 'Email' %>
        </div>
        <div class="mb-3">
          <%= f.label :name, class: 'form-label' %>
          <%= f.text_field :name, class: 'form-control', placeholder: 'らんてくん' %>
        </div>
        <div class="col-12">
          <!-- Button -->
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
