<!-- Side navbar -->
<nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 sidenav">
  <!-- Menu -->
  <a class="d-xl-none d-lg-none d-md-none text-inherit fw-bold" href="#">Menu</a>
  <!-- Button -->
  <button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button" data-bs-toggle="collapse" data-bs-target="#sidenav" aria-controls="sidenav" aria-expanded="false" aria-label="Toggle navigation">
    <i class="bi bi-list"></i>
  </button>
  <!-- Collapse navbar -->
  <div class="collapse navbar-collapse" id="sidenav">
    <div class="navbar-nav flex-column">
      <span class="navbar-header">Events</span>
      <ul class="list-unstyled ms-n2 mb-4">
        <!-- Nav item -->
        <li class="nav-item <%= active_if('mypage/event_calendars') %>">
          <a class="nav-link" href="/mypage/event_calendar"><i class="bi bi-calendar-check me-2"></i>イベントカレンダー</a>
        </li>
        <!-- Nav item -->
        <li class="nav-item <%= active_if('mypage/notifications') %>">
          <a class="nav-link" href="/mypage/notifications"><i class="bi bi-bell me-2"></i>通知一覧</a>
        </li>
      </ul>

      <span class="navbar-header">Account Settings</span>
      <!-- List -->
      <ul class="list-unstyled ms-n2 mb-0">
        <!-- Nav item -->
        <li class="nav-item <%= active_if('mypage/profiles') %>">
          <a class="nav-link" href="/mypage/profile"><i class="bi bi-person me-2"></i>プロフィール</a>
        </li>
        <!-- Nav item -->
        <li class="nav-item <%= active_if('mypage/password_changes') %>">
          <a class="nav-link" href="/mypage/password_change"><i class="bi bi-lock me-2"></i>パスワード変更</a>
        </li>
        <!-- Nav item -->
        <li class="nav-item <%= active_if('mypage/notifications/settings#edit') %>">
          <a class="nav-link" href="/mypage/notification_setting"><i class="bi bi-sliders me-2"></i>通知設定</a>
        </li>
        <!-- Nav item -->
        <li class="nav-item">
          <%= link_to logout_path, class: 'nav-link', method: :delete, data: { confirm: 'ログアウトします' } do %>
            <i class="bi bi-box-arrow-right me-2"></i>ログアウト
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
