<li class="list-group-item <%= "bg-light" if notification.read? %>">
  <div class="row">
    <div class="col">
      <a class="text-body" href="<%= notification_path(notification) %>">
        <div class="d-flex">
          <%= image_tag notification.sender.decorate.avatar, class: 'avatar-md rounded-circle' %>
          <div class="ms-3">
            <h5 class="fw-bold mb-1"><%= notification.sender.name %>:</h5>
            <p class="mb-3">
              <%= notification.message %>
            </p>
            <span class="fs-6 text-muted">
                          <span>
                            <%= l notification.created_at, format: :short %>
                          </span>
                        </span>
          </div>
        </div>
      </a>
    </div>
  </div>
</li>
