<div class="card">
  <!-- Card header -->
  <div class="card-header">
    <h3 class="mb-0">通知設定</h3>
  </div>
  <!-- Card body -->
  <div class="card-body">
    <div>
      <h4 class="mb-3">通知タイミング</h4>
      <%= form_with model: @user, url: mypage_notification_setting_path, method: :patch do |f| %>
        <div class="col-12">
          <ul class="list-group list-group-flush mb-3">
            <%= f.collection_check_boxes :notification_timing_ids, NotificationTiming.all, :id, :timing_i18n do |b| %>
              <li class="list-group-item d-flex align-items-center justify-content-between px-0 py-2">
                <div><%= b.label %></div>
                <div>
                  <div class="form-check form-switch">
                    <%= b.check_box class: 'form-check-input' %>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
          <!-- Button -->
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
