<nav class="navbar navbar-expand-lg navbar-default">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">MOKUMOKU</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= search_form_for @q || Event.ransack(params[:q]), url: @search_path || events_path, class: 'd-flex align-items-center' do |f| %>
        <%= f.search_field :title_or_content_cont, class: 'form-control form-control-sm me-2', placeholder: 'もくもく会検索' %>
        <%= f.submit '検索', class: 'btn btn-outline-success btn-sm'  %>
      <% end %>
      <% if logged_in? %>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item d-flex align-items-center">
            <%= link_to 'もくもく会を作る', new_event_path, class: 'btn btn-primary btn-sm me-2' %>
          </li>
          <%= render 'shared/notifications' %>
          <li class="dropdown ms-2 d-inline-block">
            <a class="rounded-circle" href="#" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
              <div class="avatar avatar-md">
                <%= image_tag current_user.decorate.avatar, class: 'rounded-circle avatar-sm' %>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <div class="dropdown-item">
                <div class="d-flex">
                  <div class="avatar avatar-md">
                    <%= image_tag current_user.decorate.avatar, class: 'rounded-circle avatar-sm' %>
                  </div>
                  <div class="ms-3 lh-1">
                    <h5 class="mb-1"><%= current_user.name %></h5>
                    <p class="mb-0 text-muted"><%= current_user.email %></p>
                  </div>
                </div>
              </div>
              <div class="dropdown-divider"></div>
              <ul class="list-unstyled">
                <li>
                  <%= link_to mypage_root_path, class: 'dropdown-item' do %>
                    <i class="bi bi-calendar-check me-2"></i>マイページ
                  <% end %>
                </li>
                <li>
                  <a class="dropdown-item" href="/mypage/profile">
                    <i class="bi bi-person me-2"></i>プロフィール
                  </a>
                </li>
              </ul>
              <div class="dropdown-divider"></div>
              <ul class="list-unstyled">
                <li>
                  <%= link_to logout_path, method: :delete, data: { confirm: 'ログアウトします' }, class: 'dropdown-item' do %>
                    <i class="bi bi-box-arrow-left me-2"></i>ログアウト
                  <% end %>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
          <li class="nav-item">
            <%= link_to 'ログイン', login_path, class: 'nav-link me-2' %>
          </li>
          <li class="nav-item">
            <%= link_to 'サインアップ', new_user_path, class: 'btn btn-primary btn-sm' %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
