<div class="col">
  <div class="card h-100">
    <%= link_to event_path(event) do %>
      <%= image_tag event.decorate.thumbnail, class: 'card-img-top border-bottom' %>
    <% end %>
    <div class="card-body">
      <h4 class="card-title fw-bold">
        <%= link_to event.title, event_path(event)  %>
      </h4>
      <p class="card-text"><%= event.content %></p>
      <hr />
      <div class="d-flex justify-content-between">
        <div>
          <i class="bi bi-geo-alt"></i>
          <%= event.prefecture.name %>
        </div>
        <div>
          <i class="bi bi-calendar"></i>
          <%= l event.held_at, format: :short %>
        </div>
      </div>
      <hr />
      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center gap-3">
          <%= image_tag event.user.decorate.avatar, class: 'avatar-sm rounded-circle' %>
          <%= event.user.name %>
        </div>
        <% if logged_in? %>
          <div id="js-event-bookmark-<%= event.id %>">
            <% if current_user.bookmarked?(event) %>
              <%= render 'events/bookmarks/unbookmark', event: event %>
            <% else %>
              <%= render 'events/bookmarks/bookmark', event: event %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
