<%= form_with model: event do |f| %>
  <%#= render 'shared/error_messages', object: f.object %>
  <div class="mb-3">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control', rows: 10 %>
  </div>
  <div class="mb-3">
    <%= f.label :held_at %>
    <%= f.datetime_field :held_at, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :prefecture_id %>
    <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {}, class: 'form-select' %>
  </div>
  <div class="mb-3">
    <%= f.label :thumbnail %>
    <%= f.file_field :thumbnail, class: 'form-control js-file-select-preview mb-3', accept: 'image/*', data: { target: '#preview-target' } %>
    <%= image_tag f.object.decorate.thumbnail, id: 'preview-target', class: 'w-100 border' %>
  </div>
  <%= f.submit '登録', class: 'btn btn-primary' %>
<% end %>
