<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="card mb-3">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="p-3">
              <h5 class="m-0">
                <span class="badge bg-secondary">
                  <%= l @event.held_at.to_date, format: :short %>
                </span>
              </h5>
            </div>
            <h1>
              <%= @event.title %>
            </h1>
            <% if logged_in? %>
              <div class="ms-auto">
                <% if current_user.own?(@event) %>
                  <span class="me-2">
                    <%= link_to edit_event_path(@event) do  %>
                      <i class="bi bi-pencil"></i>
                    <% end %>
                  </span>
                <% end %>
                <span id="js-event-bookmark-<%= @event.id %>">
                  <% if current_user.bookmarked?(@event) %>
                    <%= render 'events/bookmarks/unbookmark', event: @event %>
                  <% else %>
                    <%= render 'events/bookmarks/bookmark', event: @event %>
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>
          <div>
            <%= image_tag @event.decorate.thumbnail, class: 'w-100' %>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <i class="bi bi-info-circle"></i>
          イベントの説明
        </div>
        <div class="card-body">
          <%= simple_format @event.content %>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card mb-3">
        <div class="card-header">
          <i class="bi bi-person"></i>
          主催者情報
        </div>
        <div class="card-body">
          <div class="d-flex align-items-center gap-3 mb-3">
            <%= image_tag @event.user.decorate.avatar, class: 'rounded-circle avatar-lg' %>
            <%= @event.user.name %>
          </div>
          <div class="p-3 bg-light">
            イベント数
            <%= @event.user.events.size %>
            回
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <div class="bg-primary text-center p-2 text-white rounded mb-3">
            <% if @event.past? %>
              開催済み
            <% else %>
              開催前
            <% end %>
          </div>
          <h3 class="text-center">
            開催日時
          </h3>
          <h4 class="text-center">
            <%= l @event.held_at, format: :short %>
          </h4>
          <hr />
          <div class="text-center">
            <% if logged_in? %>
              <% if !current_user.owner?(@event) %>
                <% if current_user.attend?(@event) %>
                  <%= link_to 'キャンセルする',
                              event_attendance_url(@event),
                              class: 'btn btn-primary',
                              method: :delete,
                              data: { confirm: 'キャンセルします' }
                  %>
                <% else %>
                  <%= link_to 'このもくもく会に参加する',
                              event_attendance_url(@event),
                              class: 'btn btn-primary',
                              method: :post,
                              data: { confirm: '申し込みます' }
                  %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          <i class="bi bi-people"></i>
          参加者（<%= @event.attendees.size %>人）
        </div>
        <div class="card-body">
           <ul class="list-unstyled">
             <%= render partial: 'events/attendee', collection: @event.attendees %>
           </ul>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <i class="bi bi-chat"></i>
          コメント
        </div>
        <div class="card-body">
          <ul class="list-unstyled">
            <%= render partial: 'events/comment', collection: @event.comments %>

          </ul>
          <%= form_with model: [@event, @comment || Comment.new] do |f| %>
            <div class="mb-3">
              <%= f.text_area :content, class: 'form-control' %>
            </div>
            <%= f.submit class: 'btn btn-primary btn-sm' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
